*{margin: 0;padding: 0;box-sizing: border-box;}
:root {
  --swiper-theme-color:rgb(196, 13, 67);
  --swiper-pagination-bullet-inactive-color:rgba(255, 255, 255,1)
}

/* swiper edit */
.swiper {
  width: 97.5%;
  height: 250px;
  position: absolute;
  left: 50%;transform: translateX(-50%);
  background-color: rgba(0,0,0,0.01);
}
.swiper:hover {
  background-color: rgba(0,0,0,0);
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-slide img {
  display: block;
  width: 100%;
}
/* 비디오추가 */
.swiper-slide video {position: absolute;left: 50%;transform:translateX(-50%);top: 0;object-fit: fill;width: 100%;height: 100%;z-index: 1;}

/* 링크버튼추가 */
.swiper .link {
  opacity: 1;
  transition: all 0.5s ease-in-out;
  position: absolute;left: 20px;bottom: 20px;
  padding: 0.325rem 0.825rem;border-radius: 50px;
  background-color: rgba(196, 13, 67, 0.4);
  font-size: 0.625rem;
  z-index: 3;
}
.swiper .link a {display: block;text-decoration: none;color: #fff;}
.swiper .link a:hover {text-shadow: 2px 2px 4px rgba(0,0,0,0.5)}
.swiper:hover .link {
  opacity: 1;background-color: rgba(196, 13, 67, 0.7);
}
/* 버튼수정 */
.swiper-button-prev  {top:10%;transform: scale(0.6)rotate(90deg);left:auto;right: 18px; }
.swiper-button-next {top:88%;transform: scale(0.6)rotate(90deg);right: 18px; }
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {left:10px}
.swiper-container-vertical>.swiper-pagination-bullets {right: 10px;}
.swiper-pagination-bullet {opacity: .5;background:rgba(255,255,255,1);}
.swiper-pagination-bullet-active {opacity: 1;background:rgba(196,13,67,1)}

/* 타이틀 및 설명 추가 */
.swiper-slide .desc {
  position: absolute;left: 0;top: 0;
  z-index: 2;color: #fff;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}
.swiper-slide .desc h2 {font-size: 0.9375rem;line-height: 25px;font-family: inherit;}
.swiper-slide .desc p {font-size: 0.625rem;}
.swiper-slide .descBox {
  background-color: rgba(0,0,0,0.4);
  position: absolute;left: 50%;transform: translateX(-50%);top: 0;width: 100%;height: 50px;
  padding:0.625rem 1rem 0.425rem;
  background: linear-gradient(180deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 100%);
}